# Licencia Notebook
Casting Inteligente: Algoritmos para la selección óptima de actores

Copyright (C) 2024  Alaix, Alvarado, Choconta & Martinez

Este archivo es parte de FilmCast.

FilmCast es software libre: puedes redistribuirlo y/o modificarlo bajo los términos de la Licencia Pública General de GNU tal como fue publicada por la Free Software Foundation, ya sea la versión 3 de la Licencia o cualquier versión posterior.

FilmCast se distribuye con la esperanza de que sea útil, pero SIN NINGUNA GARANTÍA; ni siquiera la garantía implícita de COMERCIABILIDAD o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Consulta la Licencia Pública General de GNU para más detalles.

Deberías haber recibido una copia de la Licencia Pública General de GNU junto con FilmCast. Si no, consulta https://www.gnu.org/licenses/.

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/GPLv3_Logo.svg/1920px-GPLv3_Logo.svg.png" alt="GPL" width="400" height="200">

# Licencia Dataset

Copyright (C) Anthony Therrien [Kaggle](https://www.kaggle.com/datasets/anthonytherrien/a-synthetic-journey-through-10000-actor-profiles/data).

Bajo la licencia CC BY-SA 4.0: Attribution-ShareAlike 4.0 International

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/CC_BY-SA_icon.svg/1200px-CC_BY-SA_icon.svg.png" alt="CC" width="380" height="125">

In [8]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv('../Datasets/Actores.csv', delimiter=';')

In [9]:
df.columns

Index(['Name', 'Age', 'Gender', 'Nationality', 'Years Active',
       'Genre Specialization', 'Beauty', 'Skill Level', 'Education Level',
       'Award Wins', 'Media Mentions', 'Social Media Followers',
       'Social Media Likes', 'Network Size', 'Income'],
      dtype='object')

In [14]:
df_cat = df[['Gender', 'Nationality', 'Genre Specialization', 'Education Level']]
df_cat

       Gender Nationality Genre Specialization Education Level
0      Female         USA               Comedy      University
1        Male         USA                Drama         College
2        Male         USA               Sci-Fi         College
3      Female         USA               Sci-Fi        Graduate
4        Male         USA               Action      University
...       ...         ...                  ...             ...
12484    Male         USA               Comedy      University
12485  Female         USA                Drama      University
12486    Male         USA               Action        Graduate
12487  Female      Canada                Drama        Graduate
12488    Male         USA               Action     High School

[12489 rows x 4 columns]

In [24]:
encoder = OneHotEncoder(sparse_output=False)

In [26]:
encoded_df = encoder.fit_transform(df_cat)
encoded_df

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 1., 0., 0.],
       [1., 0., 1., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.]])

In [28]:
nombres = encoder.get_feature_names_out(df_cat.columns)
nombres

array(['Gender_Female', 'Gender_Male', 'Nationality_Canada',
       'Nationality_USA', 'Genre Specialization_Action',
       'Genre Specialization_Comedy', 'Genre Specialization_Drama',
       'Genre Specialization_Horror', 'Genre Specialization_Musical',
       'Genre Specialization_Sci-Fi', 'Education Level_College',
       'Education Level_Graduate', 'Education Level_High School',
       'Education Level_University'], dtype=object)